*{
	margin-top: 0;
	top: 0;
	padding: 0;

}

/*-------------------------estilo del slider-------------------------*/
body{
	background-image:url(../inicio/22.jpg);
	background-repeat:no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
.menu{
	width: 100%;
}
.menu nav{
	width: 99%;
	max-width: 11000px;
	margin:  100px auto;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.1);
}
.menu nav ul{
	list-style: none;
	position: relative;
}
.menu nav ul li{
	display: inline-block;
	padding: 10px;
	font-size: 20px;
	color: #27556C;
	font-family: 'Cinzel', serif;
	cursor: pointer;
}
.menu nav ul li:hover{
	color: #CFAE0B;
	font-size: 25px;

}

.name{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

font-family: 'Cinzel', serif;
	text-shadow: 1px 2px #999;
  font-size: 90px;
	color: #7A4329;
}

.vacio{
	position: relative;
	width: 100%;
  height: 650px;
}
.home-welcome{
display: block;
margin: auto;
padding: 5px;
border-color: 1px solid #1C2C3A;
position: relative;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.20);

}
.text-casa{
	font-family: 'Amatic SC', cursive;
	font-size: 18px;
	text-shadow: 1px 2px #999;
	text-align: center;
	margin: 30px;
	padding: 3px;
}
.titulo-casa{
   top: 0;
	left: 0;
color:#333;
font-size: 65px;
text-align: center;
 }
 .columnas {
	 display: flex;
	 flex-wrap: wrap;
	 align-items: baseline;
	 justify-content: space-between;
	 margin: auto;
	 width: 90%;


 }
 .columnas img:hover{
	 color: #1C2C3A;
	 margin: 20px;
	padding: 2px;
	border: 2px solid white;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
 }

 /*------------------estilo del aside------------------*/
 .viaje-text{
	 color: #01273A;
 }
 .contenido-viajes{
	 font-family: 'Cinzel', serif;
 	background-color: #39839C;
	padding: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
 }
 .viaje-titulo2{
	 font-family: 'Cinzel', serif;
 	font-size: 20px;
 	color: #7A4329;
		padding: 20px;
 }
 .viaje-titulo{
	 font-family: 'Cinzel', serif;
	font-size: 25px;
	 color: #7A4329;
	 	padding: 20px;
 }
 .viaje-titulo3{
	 font-family: 'Cinzel', serif;
 	font-size: 20px;
 	color: #7A4329;
		padding: 20px;
 }
 .color-viaje{
 	color:#813F09;
	font-family: 'Cinzel', serif;
 	text-align: center;
		padding: 20px;
 }
.precio-habitacion {
	color: #01273A;
	font-family: 'Cinzel', serif;
 	text-align: left;
	padding: 25px;
 }
 .img-map{
	 display: block;
	 margin: auto;
	 padding: 10px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);

 }
/* --------------estilo hostal titulo--------------*/
.titulo-inicio{
	font-size: 90px;
	font-family: 'Amatic SC', cursive;
	text-align: center;
	padding: 3px;
	text-shadow: 3px 1px #2F0F00;
	color: #6D2504;
}
.contenedor{
	display: flex;
	flex-wrap: wrap;
	align-items: center;

}
.home-text{
	display: block;
	padding: 50px;
	width: 45%;
	font-size: 18px;
	color: #550000;
	font-family: 'Cinzel', serif;
}
.contdinner{
	display:flex;
	justify-content: center;
	align-items: baseline;
	padding: 35px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.contenido{
width: 100%;
background-color: #E4DFD8;
}
.home-foto{
	width: 100%;
}
.video{
	margin:  60px auto;
	padding: 20px;
	width: 45%;
	background-color: #C79B7F;
}
.checkV{
	color: #064158;
	font-family: 'Cinzel', serif;
 	text-align:center;
	padding: 25px;
}
.iframe{
	display: block;
	margin:  1px auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

/*-------------------estilo de texto-------------------*/
b{
	color: #4A0028;
	text-align:  center;
	font-size: 20px;
}



/* ------------------------estilo del footer------------------------*/
footer{
	width: 100%;
	height: 700px;

	display: inline-flex;
	text-align: center;
	justify-content:center;
	align-items: center;
	border-radius: 2px;

}
.copy{
	text-align: left;
font-size: 15px;
font-family: 'Cinzel', serif;
color: #7A4329;

}
.contactos{
	margin: 10px;

}
/*----------------------estilo de lass redes sociales ----------------------*/
.social{
	display: flex;
	justify-content:flex-start;
	align-items: center;
	text-decoration: none;
	list-style: none;

}
.social li a{
	font-size: 25px;
	border-radius: 20px;
	color: #7A4329;
	margin: 6px;

	text-decoration: none;
	list-style: none;
}
.social li a:hover{
	color: #7E2B01;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
/* ------------------------------estilo responsive------------------------------*/
@media (min-width:480px){

	.dormitorio img {
display: block;
margin: auto;
padding: 3px;

	}
	.reservation-home a{
		font-size: 20px;
		color: #0399BC;
	}
}
@media (min-width:768px){
	.vacio{
		width: 100%;
		margin: auto;
	}
	.contendero-padre{
		width: 80% ;
		margin-top: -90px ;
		margin: auto;
		display: flex;
		flex-wrap: wrap;
	}

}
@media (min-width:1024px){

	.contendero-padre{
		width: 60%;
		margin: auto;
		display: flex;

	}
